@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.about h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.about h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


.bar {
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ededed;
    border: 2px solid #333;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


/* .footer .insta{
    width: 90%;
    height: auto;
} */
